<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mvvm_template">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        android:theme="@style/Theme.MVVM_Template">
        <activity android:name=".ui.component.main.web_view.WebViewActivity"></activity>
        <activity android:name=".ui.component.reorder.ReorderActivity" />
        <activity android:name=".ui.component.main.rate_app.RateMeFragment" />
        <activity
            android:name=".ui.component.card_categories.ProductCategoriesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.component.search.SearchActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.component.setting.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.component.profile_info.ProfileInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.component.product_detail.ProductDetailActivity"
            android:exported="true" />
        <activity android:name=".ui.component.main.MainActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.component.signup.ContinueCompleteActivity" />
        <activity android:name=".ui.component.verfication.LogiWithOtpActivity" />
        <activity android:name=".ui.component.login.GenerateOtpActivity"
            android:launchMode="singleTop"
            />
        <activity android:name=".ui.component.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.component.on_boarding.OnBoardingActivity"/>
    </application>

</manifest>